body{
    background-color:#e7e6e1 ;
}
h1,h2{
    color:#5b5b5b;
    font-family: Verdana, sans-serif;
}
h1{
    text-align: center;
}
.name{
font-family: 'Times New Roman', serif;
font-size: larger;
}
ol a{
    text-decoration: none;
    color: #161d6f;
}
